.experience .card {
    width: 100vw;
    height: fit-content;
    margin-top: 8vw;
    background-color: var(--color4);
    cursor: hand;
    align-items: center;
    white-space: nowrap;
}

.experience .right .card {
    border-radius: 6vw 0 0 6vw;
}

.experience .left .card {
    border-radius: 0 6vw 6vw 0;
}

/******************************************/
.experience .card.show {
    transition: margin-left 0.6s linear 0s;
}

.experience .right .card.show {
    margin-left: -120vw;
}

.experience .left .card.show {
    margin-left: 110vw;
}

/******************************************/
.experience .card.effect-active.hide {
    transition: margin-left 0.6s linear 0s;
}

.experience .right .card.effect-active.hide {
    margin-left: 10vw;
}

.experience .left .card.effect-active.hide {
    margin-left: -10vw;
}

/******************************************/
.experience .right .card:not(.show):not(.hide) {
    margin-left: 72vw;
}

.experience .left .card:not(.show):not(.hide) {
    margin-left: -73vw;
}

/******************************************/
.experience .card.effect-active:not(.show):not(.hide) {
    transition: margin-left 0.6s ease-in;
}

.experience .right .card.effect-active:not(.show):not(.hide) {
    margin-left: 10vw;
}

.experience .left .card.effect-active:not(.show):not(.hide) {
    margin-left: -10vw;
}

.experience .card._1.effect-active:not(.show):not(.hide) {
    transition-delay: 0.2s;
}

.experience .card._2.effect-active:not(.show):not(.hide) {
    transition-delay: 0.4s;
}

.experience .card._3.effect-active:not(.show):not(.hide) {
    transition-delay: 0.6s;
}

/******************************************/

.experience .card .column {
    width: 68vw;
}

.experience .right .card .column {
    margin-left: 4vw;
}

.experience .left .card .column {
    margin-left: 12vw;
    margin-right: 4vw;
    text-align: end;
}

.experience .left .card .column .meta {
    place-content: flex-end;
}


.experience .card .column .company {
    font-size: 6vw;
    margin-bottom: 1.5vw;
}

.experience .card .column .role {
    font-size: 4vw;
    margin-bottom: 1vw;
}

.experience .card .column .duration {
    font-size: 3vw;
}

.experience .card .column .location {
    font-size: 3vw;
    margin-left: 13vw;
}

/******************************************/

.experience .card .arrow_back_bg {
    width: 8vw;
    height: 25vw;
    background-color: var(--color2);
    cursor: pointer;
}

.experience .right .card .arrow_back_bg {
    border-radius: 21px 0 0 21px;
    margin-right: 2vw;
}

.experience .left .card .arrow_back_bg {
    border-radius: 0 21px 21px 0;
    margin-left: 2vw;
}

.experience .card .arrow_back_bg i {
    top: 10vw;
}

.experience .right .card .arrow_back_bg i {
    left: 2.5vw;
}

.experience .card img {
    height: 15vw;
    width: 15vw;
}