/*  Header  */

.header {
    height: fit-content;
    width: var(--90);
}

.header img {
    width: var(--40);
    height: var(--40);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px -1px #000000;
    box-shadow: 0px 0px 7px -1px #000000;
}

.header img:hover {
    -webkit-animation: vibrate-1 0.9s linear infinite both;
    animation: vibrate-1 0.9s linear infinite both;
}

.header .nametag {
    vertical-align: center;
    margin-left: var(--5);
    align-self: center;
    overflow: hidden;
}

.header .nametag .lastname {
    font-size: var(--9);
}

.header .nametag .name {
    font-size: var(--12);
}

.header .nametag .role {
    font-size: var(--6);
}

/*  Introduction    */

.introduction {
    width: var(--90);
    margin-top: 6%;
    align-items: center;
}

.introduction .console {
    width: var(--90);
    height: fit-content;
    margin-top: 3%;
    background-color: var(--color4);
    line-height: 150%;
    box-sizing: border-box;
    border-radius: var(--5);
    font-size: var(--4);
}

.introduction .console .inner {
    margin: 5%;
    overflow: hidden;
    max-height: 0;
    height: fit-content;
    box-sizing: border-box;
}

.introduction .console .inner:not(.effect) {
    max-height: var(--75);
}

.introduction .console .inner.effect-active {
    max-height: var(--75);
    transition: max-height 3s linear 0s;
}
