/*********************
Color Scheme
Lightest to darkest
1 to 4
*/

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.color4 {
    color: var(--color4);
}

.row {
    display: flex;
    flex-flow: row;
}

.column {
    display: flex;
    flex-flow: column;
}

.table {
}

/**********************/

body {
    margin: 0;
}

.body {
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: 0;
}

.content {
    background: url("../resources/svg/triangles.svg");
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 90vw;
    padding: 0 5% 0 5%;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    font-family: Arial, Helvetica, sans-serif;
}

.content.proximity {
    scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.page {
    min-height: 95vh;
    height: fit-content;
    padding-top: 5vw;
    scroll-snap-align: start;
}

.footer {
    margin-top: 10%;
}

.wip {
    position: absolute;
    height: 65vh;
    padding-top: 35vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .7);
    z-index: 100;
    text-align: center;
    display: none;
    font-size: 14vw;
}

.title {
    text-align: center;
    font-size: 11vw;
}

.subtitle {
    font-size: 4vw;
    text-align: center;
}

/*  Header  */

.header {
    height: fit-content;
    width: 90vw;
}

.header img {
    width: 35vw;
    height: 35vw;
    padding-top: 2%;
}

.header img:hover {
    -webkit-animation: vibrate-1 0.9s linear infinite both;
    animation: vibrate-1 0.9s linear infinite both;
}

.header .nametag {
    vertical-align: center;
    margin-left: 5vw;
    align-self: center;
    overflow: hidden;
}

.header .nametag .lastname {
    font-size: 10vw;
}

.header .nametag .name {
    font-size: 13vw;
}

.header .nametag .role {
    font-size: 7vw;
}

/**********************/


/*  Introduction    */

.introduction {
    width: 90vw;
    margin-top: 10%;
    align-items: center;
}

.introduction .console {
    width: 90vw;
    height: 14em;
    margin-top: 10%;
    background-color: var(--color4);
    line-height: 150%;
    box-sizing: border-box;
    border-radius: 0.5em;
    font-size: 4vw;
}

.introduction .console .inner {
    margin: 5%;
    overflow: hidden;
    max-height: 0;
    height: fit-content;
    box-sizing: border-box;
}

.introduction .console .inner.effect-active {
    max-height: 14em;
    transition: max-height 3s linear 0s;
}

/**********************/


/*  Experience */

.experience {
    align-items: center;
    flex-grow: 0.8;
    width: 90vw;
}

.experience .card-container {
    width: 100vw;
}

.experience .card {
    width: 100vw;
    height: fit-content;
    padding: 4vw;
    margin-top: 8vw;
    background-color: var(--color4);
    cursor: hand;
    align-items: center;
    white-space: nowrap;
    border-radius: 6vw 0 0 6vw;
}

.experience .card.show {
    margin-left: -120vw;
    transition: margin-left 0.6s linear 0s;
}

.experience .card.effect-active.hide {
    margin-left: 10vw;
    transition: margin-left 0.6s linear 0s;
}

.experience .card:not(.show):not(.hide) {
    margin-left: 77vw;
}

.experience .card._1.effect-active:not(.show):not(.hide) {
    margin-left: 10vw;
    transition: margin-left 0.6s ease-in 0.2s;
}

.experience .card._3.effect-active:not(.show):not(.hide) {
    margin-left: 10vw;
    transition: margin-left 0.6s ease-in 0.6s;
}

.experience .card._2 {
    border-radius: 0 6vw 6vw 0;
}

.experience .card._2.show {
    margin-left: 120vw;
    transition: margin-left 0.6s linear 0s;
}

.experience .card._2.effect-active.hide {
    margin-left: -20vw;
    transition: margin-left 0.6s linear 0s;
}

.experience .card._2:not(.show):not(.hide) {
    margin-left: -85vw;
}

.experience .card._2.effect-active:not(.show):not(.hide) {
    margin-left: -20vw;
    transition: margin-left 0.6s ease-in 0.2s;
}

.experience .details {
    position: absolute;
    width: 100vw;
    height: 90vh;
    padding: 5vh 0 5vh 0;
    top: 0;
    right: -100vw;
    background-color: var(--color4);
    border-radius: 6vw;
    cursor: hand;
    z-index: 3;
}

.experience .details.show {
    right: 0;
    transition: right 0.4s linear 0s;
}

.experience .details.hide {
    right: -100vw;
    transition: right 0.6s ease-in 0.0s;
}

.experience .details._2 {
    right: unset;
    left: -100vw;
}

.experience .details._3 {
    z-index: 1;
}

.experience .details._2.show {
    left: 0;
    transition: left 0.4s linear 0s;
}

.experience .details._2.hide {
    left: -100vw;
    transition: left 0.6s ease-in 0.0s;
}

.experience .responsibilities {
    width: 86vw;
    height: 90vh;
    padding: 0 2vh 0 2vh;
    overflow-y: auto;
    font-size: 4vw;
}

.experience .responsibilities ul {
    margin: 0;
}

.experience .responsibilities ul li {
    margin-bottom: 4vw;
}

.experience .card img {
    height: 15vw;
    width: 15vw;
}

.experience .card .column {
    margin-left: 4vw;
    width: 68vw;
}

.experience .card._2 .column {
    margin-left: 12vw;
    margin-right: 4vw;
    text-align: end;
}

.experience .card .column .company {
    font-size: 6vw;
    margin-bottom: 1.5vw;
}

.experience .card .column .role {
    font-size: 4vw;
    margin-bottom: 1vw;
}


.experience .card._2 .column .meta {
    place-content: flex-end;
}

.experience .card .column .duration {
    font-size: 3vw;
}

.experience .card .column .location {
    font-size: 3vw;
    margin-left: 16vw;
}

.page {
    display: flex;
    align-content: flex-start;
}

#experience_footer.svg_footer svg {
    width: 40vw;
}

.svg_footer {
    width: 90vw;
    margin-top: 4vh;
    text-align-last: center;
    z-index: 2;
}

/**********************/


/*  Skills */

.skills {
    align-items: center;
    flex-grow: 0.8;
    width: 90vw;
}

.skills .table {
    padding: 0 4vw 0 4vw;
}

.skill_bar {
    margin-top: 5vw;
    align-items: flex-end;
}

.skill_bar .column {
    width: 68vw;
}

.skill_bar .icon {
    width: 10vw;
    margin-right: 4vw;
}

.skill_bar .caption {
    font-size: 4vw;
    padding: 1vw;
    justify-content: space-between;
}

.skill_bar .progress-bar-container {
    width: 100%;
    height: 0.7em;
    margin: 0 auto;
    position: relative;
    top: 50%;
    border-radius: 35px;
    overflow: hidden;
}

.skill_bar .progress-bar-child {
    width: 100%;
    height: 100%;
}

.skill_bar .progress {
    color: white;
    text-align: center;
    line-height: 75px;
    animation-direction: reverse;
    background: var(--color4);
    width: 100%;
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%); */
    background: linear-gradient(to right, var(--color4) 0%, var(--color3) 25%, var(--color2) 50%, var(--color1) 100%);
}

.skill_bar .shrinker {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.skill_bar .inverted {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.skill_bar ._100 {
    width: 0;
}

.skill_bar ._90 {
    width: 10%;
}

.skill_bar ._80 {
    width: 20%;
}

.skill_bar ._70 {
    width: 30%;
}

.skill_bar ._60 {
    width: 40%;
}

.skill_bar ._50 {
    width: 50%;
}

.skill_bar.effect-active .timelapse {
    animation-name: timelapse;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes timelapse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}


/**********************/


/*  Effects */

.text-focus-in {
    -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}