@import "theme-toggle.css";
@import "generics.css";
@import "introduction.css";
@import "experience.css";
@import "skilss.css";

body {
    margin: 0;
}

.body {
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: 0;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 90vw;
    padding: 0 5% 0 5%;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    font-family: Arial, Helvetica, sans-serif;
}

.content.proximity {
    scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.page {
    display: flex;
    align-content: flex-start;
    min-height: 95vh;
    height: fit-content;
    padding-top: 5vw;
    scroll-snap-align: start;
}

.footer {
    margin-top: 10%;
}

.wip {
    position: absolute;
    height: 65vh;
    padding-top: 35vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .7);
    z-index: 100;
    text-align: center;
    display: none;
    font-size: 14vw;
}

.title {
    text-align: center;
    font-size: 11vw;
}

.subtitle {
    font-size: 4vw;
    text-align: center;
}